/node_modules
/**/.DS_S*
.DS_S*
*.log
/coverage
/.nyc_output
/.idea
/dist
.env
/test/database/diagnostic.data
/test/database/mongod.lock
/test/database1/diagnostic.data
/test/database1/mongod.lock
/test/database2/diagnostic.data
/test/database2/mongod.lock